{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url({% static 'img/contact.jpg' %})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Thank you for your Message</h1>
                        <span class="subheading">Have a nice day><</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <button type="button" class="btn btn-secondary" onclick="location.href={% url 'index' %}">홈으로 돌아가기</button>

        </div>
      </div>
    </div>
  </article>


{% endblock %}